<div class="section_element">
  <div class="section_header">
    <h3><%= @raffle.header %></h3>
  </div>
  <div class="section_content">
    <h4>You're all set!</h4>
    <p style="margin: 10px 0">We will announce the winner of the raffle on the main raffle page and on the sidebar. Check back soon!</p>
  </div>
</div>