<div class="section_element">
  <div class="section_header">
    <h3>Contact Us</h3>
      </div>
      <div class="section_content contact_us">        
      <p>We would love to hear from you! Please send us any comments or thoughts of how we could make your 
          <strong>WTD</strong> Experience better!</p>
      <h4>Questions, Comments, or Praises:</h4>
    <p>E-mail us at <a href="mailto:info@sowhatsthedeal.com">info@sowhatsthedeal.com</a></p>  
  </div>
</div>