

<div class="section_element">
  <div class="section_header">
    <h3 id="top">Frequently Asked Questions</h3>
  </div>
  <div class="section_content">
    <ul id="faq_list">
      <li><a href="#q1">How soon do I get my coupon?</a></li>
      <li><a href="#q2">When does my coupon expire?</a></li>
      <li><a href="#q3">What happens if a business closes before I can use my coupon?</a></li>
      <li><a href="#q4">What does it cost to sign up?</a></li>
      <li><a href="#q5">Who do I contact with any issues?</a></li>

      <li><a href="#q6">Can I get a refund for my purchase?</a></li>
      <li><a href="#q7">Who will have access to my email?</a></li>
      <li><a href="#q8">When do I get charged for the deal?</a></li>
      <li><a href="#q9">It looks like I've been charged twice for a purchase. What's the deal with that?</a></li>
      <li><a href="#q10">Do I have to enter credit card information when I sign up?</a></li>
      <li><a href="#q11">How do I sign up?</a></li>

      <li><a href="#q12">How long do I have to purchase a deal on the website?</a></li>
      <li><a href="#q13">Are all deals featured on the website available on the More Deals section? For how long?</a></li>
      <li><a href="#q14">What if I want to stop receiving daily deals?</a></li>
      <li><a href="#q15">Is there a maximum number of a single deal one person can buy?</a></li>
      <li><a href="#q16">Can I suggest a business I would like to get a discount for?</a></li>
    </ul>

    <div id="q1" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>How soon do I get my coupon?</h3>
      <p>Coupons are sent out on Wednesdays and Sundays. <strong>Make sure you have sales@e.sowhatsthedeal.com added to your contacts list</strong> so you receive all our communications.</p>
    </div>

    <div id="q2" class="faq_item">

      <a href="#top" class="top_link">Back to Top</a>
      <h3>When does my coupon expire?</h3>
      <p>The details will be advertised specific to each deal. Each coupon is subject to restrictions that will be printed on the coupon itself.</p>
    </div>

    <div id="q3" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>What happens if a business closes before I can use my coupon?</h3>

      <p>If for some reason the business closes before you're able to redeem your coupon, contact What's the Deal Customer Support (<a href="mailto:support@sowhatsthedeal.com">support@sowhatsthedeal.com</a>) and we will refund your money in full.  We're thoughtful like that.</p>
    </div>

    <div id="q4" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>What does it cost to sign up?</h3>
      <p>Nothing, it's free (yay!). We're here to save you money as you explore all the fun things to do in the city.</p>

    </div>

    <div id="q5" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>Who do I contact with any issues?</h3>
      <p>We want you to be happy with your purchase. If you have a problem using your coupon, please let us know by emailing <a href="mailto:support@sowhatsthedeal.com">support@sowhatsthedeal.com</a>. If you have a problem with the service you receive using your coupon, please let the business know so they can assist you.</p>
    </div>

    <div id="q6" class="faq_item">

      <a href="#top" class="top_link">Back to Top</a>
      <h3>Can I get a refund for my purchase?</h3>
      <p>We generally do not provide refunds for purchases made on the site. The deals are contingent on a certain number of people buying, so we consider all deals final since issuing a refund may invalidate a deal that went "active."</p>
    </div>

    <div id="q7" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>Who will have access to my email?</h3>

      <p>WTD will NEVER give out your email address without your permission (even if people ask very nicely).  Privacy is important to us and we're not in the business of making customers angry.</p>
    </div>

    <div id="q8" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>

      <h3>When do I get charged for the deal?</h3>
      <p>When you agree to buy the deal your credit card information will be held but not charged. When the deal hits the required number of buyers, your credit card will be charged and you'll be e-mailed a link to your coupon. If for some reason, the deal doesn't hit the required number of buyers, you will not be charged.</p>
    </div>

    <div id="q9" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>

      <h3>It looks like I've been charged twice for a purchase.  What's the deal with that?</h3>
      <p>Sometimes, there is a "hold" is placed on your credit card before it is actually charged and there is a 1-2 day period where it looks like you were charged twice.  The "hold" will disappear after a few days.  If you have questions, please contact <a href="mailto:support@sowhatsthedeal.com">support@sowhatsthedeal.com</a> and we'll resolve your issues on the double.</p>
    </div>

    <div id="q10" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>Do I have to enter credit card information when I sign up?</h3>
      <p>No. You will submit your credit card information when you agree to buy an individual deal.</p>

    </div>

    <div id="q11" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>

      <h3>How do I sign up?</h3>
      <p>It's pretty easy. Enter your email at the top of any page on our website under the "Get our Daily Deal" text and click Subscribe. Or, simply enter your email on our <a href="/signup">signup page</a> and click Subscribe.</p>
    </div>

    <div id="q12" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>How long do I have to purchase a deal on the website?</h3>

      <p>Our deals are generally available for one (1) to two (2) weeks to give everyone who wants to make a purchase a chance.</p>
    </div>

    <div id="q13" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>Are all deals featured on the website available on the More Deals section? For how long?</h3>
      <p>Most deals are transitioned to the <a href="/promotions">More Deals</a> Section after being featured for 1-2 days.</p>

    </div>

    <div id="q14" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>What if I want to stop receiving daily deals?</h3>
      <p>No hard feelings!  Just click the Unsubscribe link in one of the daily deal emails. </p>
    </div>

    <div id="q15" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>

      <h3>Is there a maximum number of a single deal one person can buy?</h3>
      <p>Generally, no, so buy away! There may be some deals with particular limits, but our fine print is big and bold so you'll know what you are buying with each deal. The drop-down quantity box will let you know the max you can buy.</p>
    </div>

    <div id="q16" class="faq_item">
      <a href="#top" class="top_link">Back to Top</a>
      <h3>Can I suggest a business I would like to get a discount for?</h3>
      <p>Yes, please! Just submit your ideas to <a href="mailto:info@sowhatsthedeal.com">info@sowhatsthedeal.com</a> and we'll get to work for you.</p>
    </div>
    
  </div>
</div>
