
<div class="section_element">
  <div class="section_header">
    <h3>press and other love</h3>
  </div>
  <div class="section_content press">
      <div class="press_item clearfix">
        <a href="http://www.washingtonpost.com/wp-dyn/content/article/2009/08/31/AR2009083103837.html" target="_blank"><img src="http://sowhatsthedeal.com/dc/new_images/washpost.jpg" alt="The Washington Post" ></a>
        <p>Katie Temme lost her job as a television producer recently, but that didn't keep her from buying herself a bouquet of flowers the other day. She wouldn't have done it, however, had she not found a coupon through <strong>WTD</strong>, a D.C.-based Web site that persuades merchants to offer discounts by guaranteeing a certain number of customers. Temme got $20 worth of flowers for just $10 at A Little Shop of Flowers in Adams Morgan. (<a href="http://www.washingtonpost.com/wp-dyn/content/article/2009/08/31/AR2009083103837.html" target="_blank">read full article...</a>)</p>
      </div>

      <div class="press_item clearfix">
        <a href="http://dcist.com/2009/08/grouped_coupon_web_sites_growing_in.php" target="_blank"><img src="http://sowhatsthedeal.com/dc/new_images/dcist.gif" width="130" alt="DCist" ></a>
        <p>And today we learned about a recently launched D.C.-based competitor, <strong>WTD DC</strong> ... No doubt in this economy, both business owners and shoppers are looking for a way to balance their budgets. Would you (or are you already) using one of these discount sites? (<a href="http://dcist.com/2009/08/grouped_coupon_web_sites_growing_in.php" target="_blank">read full article...</a>)</p>
      </div>

      <div class="press_item clearfix">
        <a href="http://cheapskate.blogs.time.com/2009/09/08/online-bargain-shoppers-unite-the-spread-of-group-coupons/" target="_blank"><img src="http://sowhatsthedeal.com/dc/new_images/time.jpg" width="130" alt="TIME" ></a>
        <p>... websites are offering discounts for everything from groceries to salon services to flower bouquets, but only if shoppers team up and opt into the promotion in bulk. If too few people sign on, no one gets the deal. (<a href="http://cheapskate.blogs.time.com/2009/09/08/online-bargain-shoppers-unite-the-spread-of-group-coupons/" target="_blank">read full article...</a>)</p>
      </div>

      <div class="press_item clearfix">
        <a href="http://washington.bizjournals.com/washington/stories/2009/08/17/story8.html?b=1250481600^1932401" target="_blank"><img src="http://sowhatsthedeal.com/dc/new_images/washjournal.gif" alt="The Washington Business Journal" width="130" ></a>
      <p>The new entrant is <strong>WTD</strong>, a five-man operation just getting started. Vice President of Partnerships Rob Schutz said the company is self-financing the operation for an undisclosed amount. He hopes to differentiate his business from the pack with new twists, such as working with food bloggers to offer deals on restaurants they recommend or throwing sponsored happy hours with bar clients. (<a href="http://washington.bizjournals.com/washington/stories/2009/08/17/story8.html?b=1250481600^1932401" target="_blank">read full article...</a>)</p>
      </div>

    <div class="other_love">
      <p><strong>NBC</strong> -  <a href="http://www.youtube.com/watch?v=776prvj5y1g" target="_blank">6 minute video</a></p>
      <p><strong>DC MetBlogs</strong> - <a href="http://dcist.com/2009/08/grouped_coupon_web_sites_growing_in.php" title="Grouped Coupon Web Sites Growing in Popularity - DCist">dc.metblogs.com</a></p>
      <p><strong>Clarendon Nights</strong> - <a href="http://clarendonnights.blogspot.com/2009/08/so-whats-deal-dc.html">clarendonnights.blogspot.com</a></p>
      <p><strong>U Street Girl</strong> - <a href="http://ustreetgirl.wordpress.com/2009/08/19/to-do-discounts-at-whats-the-deal-dc/" title="To do: Discounts at What&#8217;s the Deal DC &laquo; U Street Girl">ustreetgirl.wordpress.com</a></p>
      <p><strong>DC Socialite</strong> - <a href="http://www.dcsocialite.com/whats-the-deal-dc" title="What&#8217;s the Deal DC | DCsocialite.com">dcsocialite.com</a></p>
      <p><strong>Majic 102.3</strong> - <a href="http://mymajicdc.com/find-a-deal-on-whats-the-deal-dc/" title="Find A Deal On &#8220;What&#8217;s The Deal DC&#8221; | MyMajicDC">mymajicdc.com</a></p>    
    </div>
    
  </div>
</div>
