<h2>What's The Deal DC</h2>
<div class="section_element">
  <div class="section_header">
    <h3>Sign up for Our Daily Deal</h3>
  </div>
  <div class="section_content our_daily_deal">
    <div class="signup_text">
      <%= render_content 'signup_page' %>
    </div>
  </div>
</div>
<!-- <p align="center">&nbsp; 
  <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkname=What%27s%20the%20Deal%20DC&amp;linkurl=http%3A%2F%2Fdc.sowhatsthedeal.com"><img style="border-width: 0pt;" src="http://static.addtoany.com/buttons/share_save_256_24.png" alt="Share/Save/Bookmark" border="0" height="24" width="256"></a><script type="text/javascript">a2a_linkname="What's the Deal DC";a2a_linkurl="http://dc.sowhatsthedeal.com";a2a_num_services=10;a2a_prioritize=["gmail","facebook","yahoo_mail","twitter","tumblr","myspace"];</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
</p>    -->
