<div class="section_element">
  <div class="section_header">
    <h3>Suggest a deal</h3>
    </div>
  <div class="section_content suggest_business">


    <p>Have an idea for a cool place you want to go but don't have the cash?  Are you a business looking to get featured by WTD? E-mail us the business information at <a href="mailto:info@sowhatsthedeal.com">info@sowhatsthedeal.com</a> or call at (888) 765-3481 and we'll get crackin' on some group discounts!</p>

    <p><img src="http://www.sowhatsthedeal.com/dc/images/collage3.JPG"/></p>

  </div>
</div>