<div class="section_element">
  <div class="section_header">
    <h3>Terms and Conditions</h3>
      </div>
        <div class="section_content terms">
          
          <h4>Legal Stuff</h4>
            <p></p>
          <h3>Your Email Address</h3>
            <p>We will not give your email address to any other party without consent. Your email address is 
              used for logging in and account purposes. Also as an option to the user you may sign up for Our 
              Daily Deal which will allow you to receive the deal of the day.</p>
          <h3>Your Credit Card and Billing Information</h3>
            <p>We believe that it is important to protect your information. In order to protect you, your credit 
              card information is only used through authorize.net as our merchant service while making 
              purchases. We will not store any credit card information after you make a purchase.</p>
            <p>We will store your billing address in your account to help speed up the payment process. This is 
              however optional to all users.</p>
          <h3>Orders</h3>
            <p>What happens if you purchase a coupon and are unable to redeem due to the business goes out of 
              business before the expiration date of your coupon?</p>
  </div>
</div>