<table width="580" style="background: #ccc; margin-top: 20px">
  <tr>
    <td style="padding: 10px; font-size: 80%">
      Don't want to receive this email anymore? It's ok, we won't hold it against you.<br>You can always <%= link_to "update your email preferences", my_account_email_url %> in your account. 
    </td>
  </tr>
</table>
