<table width="600">
<tbody><tr class="banner">
   <td colspan="3" bgcolor="#114D95" style="background-image: url('http://www.sowhatsthedeal.com/emails/banner.png');padding: 0;vertical-align: top;text-align: center;">
   <img src="http://www.sowhatsthedeal.com/emails/logo.png" align="left"> <span style="font-size:1.5em; color:#fff"><b><br>What's The Deal</b><br><span class="location" style="font-size: .8em;">Washington DC Edition</span></span></td>
   </tr>
   <tr><td style="padding: 0;vertical-align: top;">




   <table width="100%" border="0" style="border-left-width: 0;border-collapse: collapse;border-spacing: 0;">




   <tbody><tr>
   <td colspan="3" style="padding: 0;vertical-align: top;"><h2 style="text-align: center;padding-top: 10px;"><font color="#65B0FF">Your WTD Account - Excitement Awaits!</font></h2></td>
   </tr>


   <tr>
   <td class="section_content" style="padding: 15px;vertical-align: top;background-color: #FFF;border: 1px solid #0C3050;">
   <p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><font color="#052452"><span style="line-height: 21px;">Great news, <%= @user.customer? ? @user.customer.first_name : "WTD Listserv Subscriber" %>. What's the Deal is all grown up! To celebrate our 8-month anniversary, we launched a brand new website at <b><a href="http://sowhatsthedeal.com">http://sowhatsthedeal.com</a>.</b></span></font></p><p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><font color="#052452"><span style="line-height: 21px;">We went out, got our hair did, and made some much needed improvements to the site. We've added <b><font color="#FFB400">cool new features like user 
  logins, downloadable coupons, a WTD User blog</font></b>, and a brand spanking new <a href="http://sowhatsthedeal.com/referral_info">$5 referral program</a>. Feel free to check us out, talk behind our back to your friends, and send us any comments you may have to&nbsp;<a href="mailto:feedback@sowhatsthedeal.com">feedback@sowhatsthedeal.com</a>.</span></font></p><p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><span style="line-height: 21px;">Your username for our site is your e-mail address: <b><%= @user.email %></b></span></p><p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><span style="line-height: 21px;"><a href="<%= @edit_password_reset_url %>">Click here to set your password</a> and gain access to your account. &nbsp;</span></p>
  <p style="text-align: center;">
    <span style="line-height: 21px;"><img src="http://sowhatsthedeal.com/images/refer_friend.gif"/></span></font></p><p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><span style="line-height: 21px;">Once you're all logged in, you can take advantage of the $5 referral program that gives your friends 
  <a href="http://sowhatsthedeal.com/referral_info">$5 in WTD credit</a> and gives you $5 in credit after their first purchase. High-five!</span></font></p><p style="font: normal normal normal 14px/1em Helvetica, Arial, sans-serif; margin-bottom: 5px; "><span style="line-height: 21px; color: rgb(5, 36, 82); ">-- The Friendly Folks at What's the 
  Deal</span></p>
   </td>


   </tr>
   </tbody></table>