<table width="580" style="border-collapse: collapse;border-spacing: 0;">
  
  <tr class="banner">
    <td bgcolor="#114D95" colspan="3" valign="top" align="center" style="background-image url('http://www.sowhatsthedeal.com/emails/banner.png')">
      <img src="http://www.sowhatsthedeal.com/emails/logo.png" align="left"><br> <span style="font-size:2em; color:#fff;">What's The Deal</span>
    </td>
  </tr> 
  
  <tr class="section_header" style="background-color: #0C3050;">
    <td colspan="3" style="vertical-align: top;padding: 0;"><h2 style="text-align: center;padding-top: 10px;text-transform: uppercase;font-size: 1.08em;color: #FFF;">Your Password Has Been Reset</h2></td>
  </tr>
  
  <tr>
    <td class="section_content" colspan="3" style="vertical-align: top;padding: 15px;background-color: #FFF;border: 1px solid #0C3050;"><p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">It's okay that your forgot your password. We forgive you.</p>
      
      
      <p> <span style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">Your new password is: </span><strong><%= @user.temporary_password %></strong> - <%= link_to "Login Now!", login_url(:user_session[:email] => @user.email) %></p>
            
      <p><strong style="color: #F5A73A;">We recommend updating your password for security purposes. If you did not request your password to be reset, please contact support@sowhatsthedeal.com.</strong></p>
    </td>
  </tr>
</table>

