<table width="580" style="border-collapse: collapse;border-spacing: 0;">
  
  <tr class="banner">
    <td bgcolor="#0C3050" colspan="3" valign="bottom" align="center" style="padding: 0">
      <a href="http://sowhatsthedeal.com"><img src="http://www.sowhatsthedeal.com/emails/wton_email_header.png" align="left" alt="" style='margin:0;border:none'/></a>
    </td>
  </tr> 
  
  <tr class="section_header" style="background-color: #0C3050;">
    <td colspan="3" style="vertical-align: top;padding: 5px 0;"><h2 style="text-align: center;margin:0;text-transform: uppercase;font-size: 1.2em;color: #FFF;">Welcome to the family</h2></td>
  </tr>
 
  <tr>
    <td colspan="3" style="padding: 0;vertical-align: top;">&nbsp;</td>
  </tr>
 
  <tr>
    <td style="vertical-align: top">
      <table style="border-collapse: collapse;border-spacing: 0;"> 
        <tr>
          <td style="vertical-align: top">
            <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;margin-top:0px;"><strong>Welcome to the Washingtonian and What's the Deal family!</strong> You can expect great discounts in your inbox on cool stuff like:</p> 
            <ul style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">
              <li>Restaurants and Bars</li>
              <li>Spas and Salons</li>
              <li>Theaters</li>
              <li>Wine Tours and Classes</li>
              <li>Sporting Events</li>
              <li>Free and Cheap Weekly Happy Hours</li>
            </ul>
            <br>  
            <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">As a thank you for signing up, here's a <a href="https://w1.buysub.com/pubs/WH/WSH/DealofWeek.jsp?cds_page_id=84592&amp;cds_mag_code=WSH&amp;id=1277842924396&amp;lsid=31801522043016846&amp;vid=1">special offer</a> on a subscription to Washingtonian, the magazine Washington lives by. <strong>You'll get 12 issues for just $18 - that's 62% off the single-copy cost!</strong></p>
            <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">And as someone who appreciates being in the know about our city's best deals, restaurants, bars, events, and shops, Washingtonian's e-newsletters are a must-read.  Sign up <a href="http://www.washingtonian.com/Registration/index_html" title="Washingtonian Magazine - Dining and Restaurants, Shopping, Politics, Entertainment, Nightlife, Real Estate, News and Events in Washington, DC, Maryland and Virginia">here</a>.</p>
            <br>
            <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 10px;color: #052452;line-height: 150%;text-align:center;background-color: #E2E2E1;padding:10px">
              <strong style="font-size:1.2em;font-weight:bold;font-family:Georgia;text-align:center;">Follow our Deals</strong><br>
              <a href="http://www.facebook.com/pages/Washington-DC-Baltimore-MD-New-York-NY/Whats-the-Deal/113164707517" target="_blank"><img src="http://sowhatsthedeal.com/images/facebook.png" style="padding-top: 10px" border="0" alt="Facebook"></a>&nbsp;&nbsp;
              <a href="http://twitter.com/whatsthedealdc" target="_blank"><img src="http://sowhatsthedeal.com/images/twitter.png" alt="Twitter" border="0" style="padding:10px 3px 0 1px"></a>&nbsp;&nbsp;
              <a href="http://feeds.feedburner.com/sowhatsthedeal/washington" target="_blank"><img src="http://sowhatsthedeal.com/emails/rss_big.png"  style="padding-top: 10px" alt="RSS Feed" border="0"></a>
            </p>
            <br>
            <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">You can earn $5 for referring your friends!<div class="referral_link" style="font-family:Helvetica;background: #F7C85C;padding: 7px;color: #805E1C;margin-top: 10px;text-align: center;letter-spacing: 1px;font-size:14px"><b><%= HOST_DOMAIN %>ref/<%= @user.referral_link %></b></div></p>
          </td>
        </tr>
      </table>
    </td>
    
    <td style="vertical-align: top">
      <img src="http://sowhatsthedeal.com/emails/sidebar_stock.jpg" style="padding-left:10px">
    </td>
    
  </tr>
  
  <tr>
    <td colspan="3" style="padding: 0;vertical-align: top;"><br>&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2">
      <table style="border-collapse: collapse;border-spacing: 0;"> 
        <tr>
          <td>
            <p style="font: bold 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">Be sure to add sales@e.sowhatsthedeal.com to your address book or safe sender list so our emails make it to your inbox (or just reply to this e-mail).</p>
            
          </td>
        </tr>
  
      </table>
    </td>
  </tr>
    
  <tr>
    <td> <p style="font: normal 14px/1em Helvetica, Arial,sans-serif;margin-bottom: 5px;color: #052452;line-height: 150%;">The friendly folks at What's the Deal DC</p></td>
  </tr>
  
</table>