<% content_for :sub_nav do %>
  <% @no_sub_nav = true %>
<% end %>
<br><br>
(date shown is start date of most recent deal with that merchant)
<div class="section_content clearfix">
  <h3><span style="color: green">OK</span> to Refund:</h3>
  <ul>
    <% @unpaid_businesses.each do |biz| %>
      <li><%= biz.promotions.last.end_date.strftime("%m/%d/%Y") %> - <%= biz.name %></li>
    <% end %>
  </ul>
  <br><br>
  <h3><span style="color: red">NO</span> Credit Card Refund:</h3>
  <ul>
    <% @paid_businesses.each do |biz| %>
      <li><%= biz.promotions.last.end_date.strftime("%m/%d/%Y") %> - <%= biz.name %></li>
    <% end %>
  </ul>
</div>