form,
iframe,
.last,
.print_this,
.print_this_left,
.footer,
.submit,
.main_nav,
.account_nav,
.bottom_link_next_page,
.copyright,
.dont_print{
  display: none;
}

.page_content,
.wrapper,
.main_wrapper,
body,
html{
  margin: 0;
  padding: 0;
}

.purchases_report{
  display: block !important;
}
body, p, td{
  font-size: 16px;
  line-height: 1.2em;
}
body{
  padding: 30px;
}

h1{
  font-size: 225%;
  font-weight: normal;
  margin-bottom: 40px;
}
h2{
  font-size: 225%;
  font-weight: normal;
  margin: 20px 0 25px;
}
h3{
  font-size: 125%;
  font-weight: normal;
  padding-bottom: 10px;
}
h4{
  font-size: 125%;
  margin-bottom: 5px;
}
td, th{
  text-align: left !important;
  padding-right: 5px;
}
.print_small{
  font-size: 100%;
}
.break{
  page-break-before: always;
}
#logo{
  font-size: 80%;
}
