<% content_for :page_title do %>Forgot Password<% end %>
<div class="section_element">
  <div class="section_header">
    <h3>Forgot Password</h3>
  </div>
  <div class="section_content forgot_password">
    <p><%= render_content 'forgot_password_desc' %></p>
    <% form_for :user, :url => {:action => 'reset_password'} do |f| %>
      <div class="label_input_form">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "text" %>
      </div>
      <div class="form_action reset_password">
        <%= f.submit "Reset Password" %>
      </div>
    <% end %>
  </div>
</div>