<% content_for :page_title do %>Forgot Password<% end %>
<div class="section_element">
  <div class="section_header">
    <h3>Forgot Password</h3>
  </div>
  <p><%= render_content 'forgot_password_desc' %></p>
  <br><br>
  <div class="section_content simple_form">
    <% form_for :user, :url => {:action => 'reset_password'} do |f| %>
      <div class="label_input_form">
        <%= f.label :email %>
        <%= text_field_tag 'user[email]', nil, :type => 'email' %>
      </div>
      <div class="form_action reset_password">
        <%= f.submit "Reset Password", :class => 'primary' %>
      </div>
    <% end %>
  </div>
</div>