<% content_for :page_title do %>Password Reset<% end %>
<div class="section_element">
  <div class="section_header">
    <h3>Password Reset</h3>
    </div>
  <div class="section_content password_reset_text">
    <%= render_content 'password_reset_desc' %>
  </div>
</div>