<div class="section_element">
  <div class="section_header">
    <h3><%= @event.header %></h3>
  </div>
  <div class="section_content">
    <h4>You're all set!</h4>
    <p style="margin: 10px 0">We'll send you a confirmation email with the details as well as a reminder on the night of the event.</p>
  </div>
</div>