<% content_for :page_title do %>Frequently Asked Questions<% end %>

<div class="section_element">
  <div class="section_header">
    <h3 id="top"><%= render_content 'faq_header' %></h3>
  </div>
  <div class="section_content faq_intro">
    <%= render_content 'faq_intro' %>
    
    <%= render_content 'faq_desc' %>
    
  </div>
</div>
