<% content_for :page_title do %>How It Works<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content('how_it_works_header') %></h3>
  </div>
  <div class="section_content how_it_works">
    
    <%= render_content('how_it_works_desc') %>
   
  </div>
</div>
