<% content_for :page_title do %><%= render_content 'nationals_deal_header' %><% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content 'nationals_deal_header' %></h3>
  </div>
  <div class="section_content press">
    <%= render_content 'nationals_deal_desc' %>
  </div>
</div>
