<% content_for :page_title do %>People Love Us<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content 'press_header' %></h3>
  </div>
  <div class="section_content press">
      <%= render_content 'press_desc' %>
    
  </div>
</div>
