<% content_for :page_title do %><%= render_content 'rap_title' %><% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content 'rap_header' %></h3>
  </div>
  <div class="section_content">
    <%= render_content 'rap_desc' %>
  </div>
</div>
