<% content_for :page_title do %>Suggest A Deal<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content('suggest_business_header') %></h3>
    </div>
  <div class="section_content suggest_business">
    <%= render_content('suggest_business_desc') %>
  </div>
</div>