<% content_for :page_title do %>Terms and Conditions<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content('terms_conditions_header') %></h3>
  </div>
  <div class="section_content terms">
    <%= render_content('terms_conditions_desc') %>        
  </div>
</div>    