<% content_for :page_title do %>Your code for 10% off Tickets to Taste of the Nation<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content 'totn_code_header' %></h3>
  </div>
  <div class="section_content totn_code">
    <%= render_content 'totn_code_desc' %>
  </div>
</div>