<% content_for :page_title do %>You have successfully unsubscribed from the Daily Deal<% end %>
<div class="section_element">
  <div class="section_header">
    <h3><%= render_content 'unsubscribe_thanks_header' %></h3>
  </div>
  <div class="section_content our_daily_deal">
    
    <div class="signup_text">
      <%= render_content 'unsubscribe_thanks_desc' %>
    </div>

  </div>
</div>