<% content_for :page_title do %><%= render_content('sloopy_how_it_works_header') %><% end %>
<div class="section_element sloopy_text">
  <p style="font-size:16px"><%= link_to "Back to this week's deal", '/sloopy' %></p><br><br>
  
  <div class="section_header">
    <h3><%= render_content('sloopy_how_it_works_header') %></h3>
  </div>
  <div class="section_content">
    <%= render_content('sloopy_how_it_works_desc') %>
  </div>
</div>
