<h1>Exporting Your Purchaser List</h1>
<div class="section_content">
  <p><strong>Your download should start any second. If not, just click the link below.</strong><br><br></p>

  <%= link_to "#{HOST_URL}#{@path}", "#{HOST_URL}#{@path}" %>
</div>

<br><br><br>
<div class="bottom_link_next_page">
  <%= link_to "Back to Home", business_home_path %>
</div>


  
<script type="text/javascript">
<!--
  window.location = "<%= HOST_URL %><%= @path %>"
//-->
</script>
