<% content_for :sub_nav do %>
  <% @no_sub_nav = true %>
<% end %>
<br><br>

<h2>Credit Used Per Month</h2>
<div class="section_content">
  <table>
    <% @credits.each_with_index do |month, i| %>
      <tr>
        <td><%= Date::MONTHNAMES[i+1] %></td>
        <td><%= number_to_currency month %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
  <p>NOTE: This is not when the credit was issued, <strong>but instead when it was actually used</strong></p>
</div>