<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$99 Club Level Party Deck Tickets to Penn State vs. Indiana for only $60</title>

<link rel="stylesheet" type="text/css" href="http://cf.instacdn.com/gz/css/adb0d1fff9e1ee3a18cc792c40d5bc81.css"  />
<script src="http://cf.instacdn.com/gz/js/f15feec13d6eda3292f36851349f3ca6.js" type="text/javascript" ></script>

<meta name="description" content="November 20th at FedEx Field - Purchase includes parking and a game ticket - You&#39;ll be watching the game from the brand new party deck, a lively area with stand-up drink rails (note: party deck is an open-air standing area in the club level bowl and does not contain assigned seats) - You&#39;ll have access to the climate-controlled club level concessions - Game tickets will be sent via email on or before November 19th - Not valid with any other offer - Limited quantity - Offer available while supplies last" />

<meta name="keywords" content="FedEx Field merchant vendor store local customer voucher certificate deal coupon" />
<link rel="image_src" href="http://cf.instacdn.com/png/3a34694e8e0340a77a85a0bbc56098da.png" />



</head>

<body >




<div id="wrap">

	<div id="main" class="clearfix">



<div class="tp_top_nav_bar">
	<div class="centered">
	    <div class="sub" >
            <a  class="sub_button" href="mailto:deals@teampick.com">Contact Us</a>
        </div>

           
            
    
            
        
            
            <div class="tp_logo"> </div>
             
        
        

            <div class="tagline">

                The Best
                Deals for

                
                DC
                

                Sports Fans!
            </div>


    </div>
</div>


<div class="centered">
	<%= yield %>
</div>
</div>


      </div>
      
  </div>
</div>
</div>
<div class="clearboth"></div>

</div>

<div class="footer">
<div class="footer_centered"></div>
<div class="footer_background">


<div class="centered">

        Brought to you by
        <a target="_blank" href="http://www.sbnation.com/">SB Nation</a>
        and
        <a target="_blank" href="http://www.sowhatsthedeal.com/">What's the Deal</a>

        - 866-364-0031
        - Privacy Policy
          -
          Terms of Use

</div>


</body>
</html>
